name: Build

on:
  push:
    branches: [ "main" ]
    tags: [ "*" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
    statuses: write
    contents: read

jobs:
    build:
        name: ${{ matrix.os }} - ${{ matrix.name }}
        runs-on: ${{ matrix.os }}
        timeout-minutes: 10
        strategy:
          fail-fast: false
          matrix:
            os: [ubuntu-latest, macos-latest, windows-latest]
            profile: [paranoid, release, streamlined, integrator]
            
            include:
              - profile: paranoid
                name: "Debug (Max Safety)"
                build_type: Debug
                cmake_args: >-
                  -DMARU_ENABLE_DIAGNOSTICS=ON
                  -DMARU_GATHER_METRICS=ON
                  -DMARU_VALIDATE_API_CALLS=ON
                  -DMARU_ENABLE_INTERNAL_CHECKS=ON
                  -DMARU_ENABLE_CONTROLLERS=ON

              - profile: release
                name: "Release (Performance)"
                build_type: Release
                cmake_args: >-
                  -DMARU_ENABLE_DIAGNOSTICS=ON
                  -DMARU_GATHER_METRICS=ON
                  -DMARU_VALIDATE_API_CALLS=OFF
                  -DMARU_ENABLE_INTERNAL_CHECKS=OFF
                  -DMARU_ENABLE_CONTROLLERS=ON

              - profile: streamlined
                name: "Streamlined (Absolute Minimum)"
                build_type: MinSizeRel
                cmake_args: >-
                  -DMARU_ENABLE_DIAGNOSTICS=OFF
                  -DMARU_GATHER_METRICS=OFF
                  -DMARU_VALIDATE_API_CALLS=OFF
                  -DMARU_ENABLE_CONTROLLERS=OFF
                  -DMARU_BUILD_EXAMPLES=OFF

              - profile: integrator
                name: "Integrator (Recoverable)"
                build_type: RelWithDebInfo
                cmake_args: >-
                  -DMARU_ENABLE_DIAGNOSTICS=ON
                  -DMARU_GATHER_METRICS=ON
                  -DMARU_VALIDATE_API_CALLS=ON
                  -DMARU_RECOVERABLE_API_CALLS=ON
                  -DMARU_ENABLE_CONTROLLERS=ON

        steps:
            - uses: actions/checkout@v4

            - name: Prepare Vulkan SDK
              uses: jakoch/install-vulkan-sdk-action@v1
              with:
                vulkan_version: ${{ matrix.os == 'macos-latest' && '1.4.341.0' || '1.4.341.1' }}
                cache: true
                stripdown: false
                 
            - name: Configure
              run: cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} ${{ matrix.cmake_args }}
              
            - name: Build
              run: cmake --build build --parallel --config ${{ matrix.build_type }}

            - name: Test
              run: ctest --test-dir build --output-on-failure -C ${{ matrix.build_type }}
